

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        background-color: cadetblue;
    }

    .btn-success {
        color: #fff;
        background-color: #6a736c;
        border-color: #000000;
    }
    .text-muted {
        color: #5d0404!important;
    }
    .home-stats .stat{
        background-color: #EEE;
        border: 1px solid #CCC;
        padding: 30px;
        font-size: 20px;
    }
    .home-stats .stat span{
        display: block  ;
        font-size: 20px;
    }
    
    .home-stats {
        margin-top: 150px;
    }
    
    
    .dash {
        font-size: 55ps;
        margin: 40px 0  !important;
        color: #666;
        font-weight: bold;
    }
    .stat{
        font-size: 25px !important; 
        font-weight: bold !important;
    }
    .decoration{
        color: #6d6c6c !important;
        
    }